/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Moderustic', sans-serif;
    overflow: hidden;
}

/* Menu Bar */
.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-logo {
    height: 20px;
    margin-right: 20px;
}

.menu-item {
    margin-right: 20px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Moderustic', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
}

.menu-item:hover {
    color: black;
    transform: scale(1.1);
}

.menu-item:active {
    color: #aaa;
    transform: scale(1);
}

/* Adjust desktop position to accommodate menu bar */
.desktop {
    position: relative;
    width: 100%;
    height: calc(100vh - 30px);
    background: url('images/desktop-background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    top: 30px;
}

/* Dock */
.dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: calc(100% - 40px);
    max-width: 1000px;
    box-shadow: 0px 2px 5px rgba(79, 79, 79, 0.2);
}

.dock-icons {
    display: flex;
    align-items: center;
    flex: 1;
}

.dock-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dock-icon:hover {
    transform: scale(1.2);
}

.dock-icon-container {
    display: flex;
    align-items: center;
    position: relative;
}

/* Separator Line */
.dock-icon-container:nth-child(2)::before {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    margin-left: 10px;
}

/* Container for clock and separator line */
.taskbar-clock-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Separator Line */
.taskbar-clock-container::before {
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

/* Clock */
.taskbar-clock {
    margin-left: auto;
}

.app-name {
    margin-top: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none;
}

/* Remove taskbar */
.taskbar {
    display: none;
}

/* Desktop Icons */
.desktop-icons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon img {
    width: 50px;
    height: 50px;
}

.icon span {
    margin-top: 5px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Windows */
.window {
    position: absolute;
    top: 36.5%;
    left: 36%;
    width: 500px;
    height: 350px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    resize: both;
    overflow: hidden;
}

/* Launcher Window */
.launcher-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 350px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.launcher-header {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Launcher Search Bar */
.launcher-search {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Search Results */
.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-results li:hover {
    background-color: #f0f0f0;
}

.window-header {
    background-color: #ddd;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.window-title {
    font-weight: bold;
    font-size: 16px;
}

.close-button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.close-button:hover {
    color: #000;
}

.window-body {
    padding: 15px;
    flex: 1;
    background-color: #fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.launcher-body {
    padding: 15px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.launcher-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px; /* Add space between the icon and text */
}

#terminal-output {
    height: 80%;
    overflow-y: auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
}

#terminal-input {
    width: 95.5%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

/* Status Dot */
.dock-icon-container .terminal-status-dot {
    position: absolute;
    bottom: -3px;
    left: 63%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 50%;
    display: none;
}

.dock-icon-container .launcher-status-dot {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 50%;
    display: none;
}

.dock-icon-container .notes-status-dot {
    position: absolute;
    bottom: -3px;
    left: 48%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 50%;
    display: none;
}
 
.dock-icon-container .files-status-dot {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 50%;
    display: none;
}

.dock-icon-container .settings-status-dot {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 50%;
    display: none;
}

/* Notes Window */
.notes-title-input, .notes-content-input {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.notes-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-3d {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5), 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-3d:hover {
    background-color: #555;
    border-color: #777;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.button-3d:active {
    background-color: #444;
    border-color: #666;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(4px);
}

/* Light Mode */
body.light {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
}

.window.light {
    background-color: #f5f5f5; /* Light gray window background */
    color: #333333; /* Dark text inside windows */
}

.button-3d.light {
    background-color: #dddddd; /* Light button background */
    color: #333333; /* Dark text on buttons */
    border-color: #cccccc;
}

/* Dark Mode */
body.dark {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
}

.window.dark {
    background-color: #333333; /* Dark window background */
    color: #f5f5f5; /* Light text inside windows */
}

#notes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
    border: 1px solid #ddd;
    border-radius: 5px;
}


#notes-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

/*Files*/
.button-clear {
    border: none;
    background: none;
    padding: 0;
}

.button-icon {
    width: 20px;
    height: 20px;
}

.settings-option {
    display: flex;
    justify-content: space-between; /* Align label and select on opposite sides */
    align-items: center; /* Center vertically */
}

.settings-option label {
    font-size: 14px;
    color: #333;
}

body.light {
    background-color: #ffffff;
    color: #ffffff;
}

body.dark {
    background-color: #000000;
    color: #000000;
}

.window.light {
    background-color: #f5f5f5;
}

.window.dark {
    background-color: #333333;
    color: white;
}

.taskbar.light {
    background-color: rgba(255, 255, 255, 0.8); /* Light taskbar background */
    color: #000000; /* Dark taskbar text */
}

.taskbar.dark {
    background-color: rgba(0, 0, 0, 0.8); /* Dark taskbar background */
    color: #ffffff; /* Light taskbar text */
}
